# Директория настроек IDE
.idea/

# Скомпилированные бинарные файлы
*.exe
*.out
*.o

# Кэш и временные файлы Go
/bin/
/pkg/
*.test

# Файлы зависимостей модуля
go.sum

# Логи и временные файлы
*.log
*.tmp
*.swp
*.swo
